name: C/C++ CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: start
      run: echo "Github actions started"
    - name: unit tests
      run: pio test -e unit_test
